@import '../base/listas';
.social-media {
    text-align: center;
    padding-top: 5rem !important;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    background-color: nth($colores, 5);
}